body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}
h2 {
    margin-top: 40px; /* Adjust the spacing as needed */
}

ul {
    margin-bottom: 20px; /* Adjust the spacing between lists and next heading */
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: #f1f1f1;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B'; /* プラス記号 */
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212"; /* マイナス記号 */
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
